
{% extends 'base.html' %}
{% block title %}Εγγραφή{% endblock %}
{% block content %}
<div align="center" style="padding-top:100px; background-image: linear-gradient(to right, #434343 0%, black 100%);">
  <h4 style="color:white; font-size:20px;">Κάνε εγγραφή στο</h4>
  <h1 style="color:red; font-family:Georgia, serif">Musician Finder!</h1><br><br>
  <form method="post" style="margin-bottom:0px;">
    {% csrf_token %}
    {% for field in form %}
      <p style="color:white;">
        {{ field.label}}<br>
        {{ field }}<br>
        {% if  field.label == 'Όνομα Χρήστη'%}
          <small style="color: white;">Απαιτείται. 150 χαρακτήρες ή λιγότεροι</small>
        {% endif %}
        {% if  field.label == 'Όνομα'%}
          <small style="color: white;">Προαιρετικά</small>
        {% endif %}
        {% if  field.label == 'Επίθετο'%}
          <small style="color: white;">Προαιρετικά</small>
        {% endif %}
        {% if  field.label == 'Email'%}
          <small style="color: white;">Απαιτείται. Εισάγετε μια έγκυρη διέυθηνση email(πχ someone@mail.com)</small>
        {% endif %}
        {% if  field.label == 'Κωδικός Πρόσβασης' %}
          <small style="color: white;">Απαιτείται. Τουλάχιστον 8 χαρακτήρες. Να μην περιέχει μόνο αριθμούς ή μόνο γράμματα.<br>
            Να μην ταιριάζει με άλλες προσωπικές πληροφορίες</small>
        {% endif %}
        {% if  field.label == 'Επιβεβαίωση Κωδικού Πρόσβασης' %}
          <small style="color: white;">Απαιτείται. </small>
        {% endif %}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

      </p>
    {% endfor %}
    {{ b_form.birth_date.label }}<br>
    {{ b_form.birth_date }}<br>

    <div class="button_cont" align="center">
        <button type="submit" class="myButton" style="margin-bottom:50px;">Εγγραφή</button></a>
    </div>
  </form>
</div>
<script>
  document.getElementById("navbar").style.visibility = "hidden";
</script>
{% endblock%}